@model MCSDD12.Models.Members

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-3">會員詳細資料</h2>

<div class="card border-primary shadow">
    <div class="card-body row">
        <div class="col-7">
            <h2 class="mt-3">
                <i class="bi bi-person-circle"></i>
                <strong>@Html.DisplayFor(model => model.MemberName)</strong> (@Html.DisplayFor(model => model.MemberID))
            </h2>

            <h3 class="mt-3">
                <i class="bi bi-calendar-date"></i>
                @Html.DisplayFor(model => model.MemberBirthday)
            </h3>

            <h3 class="mt-3">
                @Html.DisplayFor(model => model.Account)
            </h3>

            <h3 class="mt-3">
                @*@Html.DisplayFor(model => model.Password)*@
                *****************************
            </h3>
        </div>

        <div class="col-4">
            <div class="text-center">
                @if (Model.MemberPhotoFile == null)
                {
                    <i class="bi bi-emoji-smile" style="font-size:5rem"></i>
                }
                else
                {
                    <img src="@Model.MemberPhotoFile" class="img-thumbnail" />
                }


            </div>
        </div>
    </div>

    

    <div class="card-footer">
        <h5 class="text-right">於 @Html.DisplayFor(model => model.CreatedDate) 加入本站會員</h5>
    </div>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
